* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b1b1b1;
}
/* Login Page Style */
.container {
  width: 300px;
  height: 350px;
  display: flex;
  background-color: #fef9ef;
  justify-content: center;
  box-shadow: 5px 5px 10px, 5px 5px 20px;
  border-radius: 10px;
}
.login {
  margin-top: 35px;
}
.login h1 {
  text-align: center;
  margin-bottom: 35px;
}
.login-form {
  position: relative;
}
.login-form input {
  margin-bottom: 30px;
  height: 40px;
  width: 230px;
  padding-left: 15px;
  outline: none;
}
.username {
  position: absolute;
  left: 15px;
  top: 10px;
  cursor: text;
  color: gray;
}
.username-box:focus + label,
.username-box:valid + label {
  top: -20px;
  left: 5px;
  transition: 0.2s;
}
.password {
  position: absolute;
  left: 15px;
  top: 80px;
  cursor: text;
  color: gray;
}
.show {
  position: absolute;
  right: 15px;
  top: 82px;
  cursor: pointer;
}
.pwd:focus + .password,
.pwd:valid + .password {
  top: 50px;
  left: 5px;
  transition: 0.2s;
}
.login-txt {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.login-txt a {
  text-decoration: none;
}
.login-txt p span {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}
.btn-link {
  text-decoration: none;
  display: grid;
  place-items: center;
}
.btn {
  cursor: pointer;
  width: 100px;
  height: 40px;
  border: 1px solid gray;
  outline: none;
  background-color: transparent;
}
.btn:hover {
  border: 1px solid transparent;
  background-color: #b1b1b1;
}
/* Signup Page Style */
.signup {
  margin-top: 15px;
}
.signup h1 {
  text-align: center;
  margin-bottom: 20px;
}
.signup-form {
  margin: 20px;
  position: relative;
}
.signup input {
  margin-bottom: 20px;
  margin-left: 10px;
  height: 30px;
  width: 230px;
  padding-left: 15px;
  outline: none;
}
.name {
  position: absolute;
  left: 25px;
  top: 5px;
  cursor: text;
  color: gray;
}
.name-box:focus + .name,
.name-box:valid + .name {
  top: -15px;
  left: 15px;
  transition: 0.2s;
  font-size: 12px;
}
.user-name {
  position: absolute;
  left: 25px;
  top: 55px;
  cursor: text;
  color: gray;
}
.user:focus + .user-name,
.user:valid + .user-name {
  font-size: 12px;
  top: 35px;
  left: 15px;
  transition: 0.2s;
}
.email-name {
  position: absolute;
  left: 25px;
  top: 105px;
  cursor: text;
  color: gray;
}
.email:focus + .email-name,
.email:valid + .email-name {
  top: 85px;
  left: 15px;
  transition: 0.2s;
  font-size: 12px;
}
.user-pwd {
  position: absolute;
  left: 25px;
  top: 155px;
  cursor: text;
  color: gray;
}
.pass:focus + .user-pwd,
.pass:valid + .user-pwd {
  top: 135px;
  left: 15px;
  font-size: 12px;
  transition: 0.2s;
}
.show-img {
  position: absolute;
  right: 35px;
  top: 158px;
  cursor: pointer;
}
.signup-form .btn-link {
  margin-bottom: 20px;
}
.signup-form .login-txt {
  margin-bottom: 10px;
}
.front {
  position: absolute;
  z-index: 2;
  transition: 2s ease;
}
.back {
  position: absolute;
  z-index: 1;
  transition: 2s ease;
  transform: rotateY(180deg);
}
